<h1>returned the following results:</h1>
<div class="query_url">Query URL: <%= @query_img_url %><br/></div>

<% @retrieval.each do |line| %>
	<% if line.starts_with? '#' %>
		<pre><%= line %></pre>
	<% else %>
		<% parts = line.split("\t") %>
		<div class="result">
			<h2><%= (parts[1].to_f * 100).to_s %>%</h2>
			<%= image_tag(preview_url(parts[0])) %><br/>
			Matrix: <%= parts[2] %><br/>
			Url: <%= parts[0] %>
		<div>
	<% end %>
<% end %>